# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv
venv/
ENV/
env/

# Environment variables
.env
.env.local

# Database
*.sqlite3
instance/

# Flask stuff
.flaskenv
